// 맵 들어가는 메인

#main {
    overflow: hidden;
    word-break: keep-all;
}

#wrap {
    width: 100%;
    position: relative;
    margin-left: 254px;
    padding: 0;
}

#map {
    width: 100%;
    height:100vh;
}
.bikeinfo {
    padding: 16px 24px 24px 24px;
    
    &::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 60px;
        top: -21px;
        right: 0px;
        z-index: 1;
        background: url(../../images/main/bikeinfo_d.png);
    }
}

.bikeinfo-layout {
    display: none;
    position: absolute;
    top: 150px;
    right: 3px;
    z-index: 100;
    width: 336px;
    height: 488px;
    background-color: $white;
    filter: drop-shadow( 4px 4px 8px $grayC9);
    border-radius: 15px;
    &.hide {
        display: none !important;
    }
}

.bikeinfo-box {
    position: absolute;
    top: 150px;
    right: 0;
    width: 70px;
    height: 160px;
    background-color: $white;
    border-radius: 15px 0 0 15px;
    filter: drop-shadow( 4px 4px 8px $grayC9);
    &::before {
        display: none;
    }
    &.add {
        &::before {
            content: '';
            display: block;
            width: 13px;
            height: 100vh;
            position: absolute;
            top: -150px;
            right: 0;
            z-index: 1;
            background-color: $white;
        }
    }
    img {
        padding: 28px 20px;
    }
}


.bikeinfo-title {
    display: flex;
    justify-content: space-between;
    .tit {
        color: $subColor;
        font-size: 24px;
        font-weight: 600;
        background-image: linear-gradient(180deg,$white 75%, $subColor3 10%);
    }
    .text-list {
        position: relative;
        display: flex;
        align-items: center;
        .nav {
            flex-wrap: nowrap;
            --bs-nav-link-color: 0;
            --bs-nav-link-hover-color: 0;
        }
        .nav-tabs {
            --bs-nav-tabs-border-width: 0
        }
        .nav-link {
            padding: 0;
            width: 40px;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
        }
        .active {
            font-weight: 500;
        }
    }
    .text-content {
        &::before {
            content: '';
            position: absolute;
            top: 9px;
            left: 40px;
            width: 1px;
            height: 12px;
            background-color: $grayD9;
        }
    }
}

.tab-content {
    .container {
        padding: 0;
    }
}

.bikeinfo-bikenum {
    width: 288px;
    display: flex;
    margin: 8px 0 30px 0px;
    justify-content: space-between;
    dl {
        width: 70px;
        text-align: center;
    }
    dt {
        color: $gray7;
        font-size: 16px;
        font-weight: 400;
    }
    .bikenum_b {
        color: $subColor;
        font-size: 40px;
        font-weight: 600;
    }
    .active {
        color: $primary;
    }
}

.bikeinfo-btn {
    height: 80px;
    background-color: $subColor;
    border-radius: 50px;
    padding: 7px 20px 7px 24px;
    margin-bottom: 16px;
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            position: relative;
            color: $white;
            font-size: 20px;
            font-weight: 500;
            &:hover {
                &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 28px;
                height: 3px;
                border-radius: 3px;
                background-color: $primary;
            }
                &::after {
                    content: "";
                    position: absolute;
                    left: 31px;
                    bottom: -3px;
                    width: 3px;
                    height: 3px;
                    border-radius: 50%;
                    background-color: $primary;
                }
            }   
        }
    }
}

.bikeinfo-m {
    display: none;
}

@media screen and (max-width: 1200px) {
    #wrap {
        margin-left: 0;
    }
}

@media screen and (max-width: 470px) {
    .bikeinfo-layoutbox {
        display: none;
    }
    .bikeinfo-m {
        display: block;
        position: absolute;
        top: 100px;
        right: 0;
        .bikeinfo-btn_m {
            position: relative;
        }
        a {
            position: absolute;
            top: 40px;
            right: 10px;
            font-size: 14px;
            font-weight: 500;
            color: $white;
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 18px;
                height: 2px;
                border-radius: 3px;
                background-color: $primary;
            }
            &::after {
                content: "";
                position: absolute;
                left: 20px;
                bottom: -2px;
                width: 2px;
                height: 2px;
                border-radius: 3px;
                background-color: $primary;
            }
        }
    }
}

.chatbot {
    position: absolute;
    bottom: 88px;
    left: 48px;
}

.chatbotbox {
    display: none;
}

.chatbot-buttonimg {
    width: 52px;
    height: 52px;
    background: url(../../images/main/chatbot_button_icon.png) no-repeat 0 0;
    &.remove {
        background: url(../../images/main/chatbot_clise_icon.png) no-repeat 0 0;
    }
}

@media screen and (max-width: 470px) {
    .chatbot-buttonimg {
        width: 40px;
        height: 40px;
        background-size: cover;
        &.remove {
            background-size: cover;
        }
    }
}

.chatbot-messenger {
    position: relative;
    width: 340px;
    height: 590px;
    margin-bottom: 12px;
    border-radius: 15px;
    background-color: $bgDefault;
    filter: drop-shadow( 4px 4px 8px $grayC9);
    .top {
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid $grayE8;
        padding: 14px 20px;
        span {
            color: $gray3;
            font-size: 16px;
            font-weight: 600;
        }
        .img1 {
            margin-right: 8px;
        }
        .img2 {
            margin-left: 85px;
        }
    }
    .mid {
        .chatroom {
            display: flex;
            flex-direction: column;
        }
        .timestamp {
            margin: 0 auto;
            padding: 12px 0 16px 0;
        }
        .chatdate {
            color: $gray7;
            font-size: 12px;
            font-weight: 400;
            padding: 3px 16px;
            border-radius: 15px;
            background-color: $grayE8;
        }
        .chatmain {
            margin: 0 20px;
        }
        .msg-box {
            display: flex;
            align-items: flex-end;
            margin-top: 8px;
        }
        .msg-text {
            background-color: $white;
            border-radius: 0 15px 15px 15px;
            padding: 14px 20px;
            span {
                color: $gray3;
                font-size: 16px;
                font-weight: 400;
            }
            .primary {
                color: $primary;
                font-weight: 500;
            }
        }
        .msg-time {
            color: $gray7;
            font-size: 12px;
            font-weight: 400;
            padding-left: 8px;
        }
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px 20px;
        .type-area {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $grayE8;
            border-radius: 15px;
            padding: 0 16px;
            .typing {
                width: 100%;
                height: 50px;
                color: $gray7;
                font-size: 14px;
                font-weight: 400;
                outline: none;
                border: none;
                border-radius: 15px;
                background-color: $grayE8;
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .chatbot {
        bottom: 100px;
        left: 24px;
        z-index: 1;
    }
}

@media screen and (max-width: 388px) {
    .chatbot-messenger {
        width: 100%;
        .top {
            position: relative;
            .img2 {
                position: absolute;
                top: 21px;
                right: 20px;
                margin-left: 0;
            }
        }
    }
}