// 복붙용
// @media screen and (max-width: 1200px) {}

// Navigation Bar 작성

// 레이아웃 정돈
.wrap {
    /* 임시 이건 티켓 기준이라 메인 충돌 생김. 일단 작성한다고 넣은 것. */
    // comm 상속
    width: calc(100% - $nav-widthD1 - $nav-widthD2);

    margin-left: calc($nav-widthD1 + $nav-widthD2);
    padding: 48px;

    .inner {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    body {
        flex-direction: column;
    }

    // 모바일 nav 활성화 시 wrap 마진 생성
    .wrap {
        width: 100%; // pc : calc
        margin-top: $mHdHeight;
        margin-left: 0; //header가 fixed 이기 때문에 필요함

        padding: 24px;
    }
}

// header pc
// 헤더 레이아웃 정리
#header {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    padding: 40px;

    background-color: $white;

    // logo img
    img {
        display: block;
        width: 174px;
    }
}

// header 내 정렬
.nav_d1_area {
    display: flex;
    flex-direction: column;
    gap: 48px;

    a {
        display: inline-block;
    }
}

// 주요 메뉴 내 정렬
.depth1 {
    display: flex;
    flex-direction: column;
    gap: 28px;

    font-size: 18px;
    font-weight: 700;

    a {
        color: $subColor;
        position: relative;
    }

    a:hover {
        &::before {
            content: "";
            display: block;

            position: absolute;
            top: 16px;
            left: -4px;
            right: -4px;
            z-index: -1;
            height: 6px;
            border-radius: 3px;
            background-color: $primary;
        }

        &::after {
            content: '';
            display: block;

            position: absolute;
            top: 16px;
            right: -14px;
            z-index: -1;
            width: 6px;
            height: 6px;
            border-radius: 3px;
            background-color: $primary;
        }
    }
}

// util 아이콘
.util-lang {
    &::before {
        content: url(./../../images/comm/util_icon_lang.png);
        display: inline;
        width: 10px;
        height: 10px;
    }
}

.util-login {
    &::before {
        content: url(./../../images/comm/util_icon_login.png);
        display: inline;
        width: 10px;
        height: 10px;
    }
}

// util 정렬
.util {
    display: flex;
    flex-direction: column;
    gap: 20px;

    // icon : before로 작업. iframe 부재.
    a {
        color: $gray7;
        font-weight: 500;
    }
}

// nav_btm_l (gnb 아래 푸터 왼쪽부분)
// #header 밖으로 나오면 우선순위 밀림.
#header {
    .nav_btm_d1 {
        display: flex;
        flex-direction: column;
        gap: 16px; // nav_btm_link 간격의 2배

        position: absolute;
        left: 40px;
        right: 0;
        bottom: 40px;
    }

    .nav_btm_sns {
        display: flex;
        gap: 12px;
    }

    .sns_icon {
        width: 20px;
        height: 20px;
        // object-fit: cover;
    }

    .nav_btm_info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        font-size: 12px;
        font-weight: 400;
        color: $gray7;
    }
}

// header 모바일에서 변형
@media screen and (max-width: 1200px) {
    #header {
        width: 100%;
        height: 65px;
        padding: 18px 20px;

        img {
            width: 99px;
        }

        .depth1,
        .util {
            display: none;
        }

        .nav_btm_d1 {
            display: none;
        }
    }

    .ct-nav_depth2 {
        display: none;
    }
}


// depth 2 : 일단 밖을 빼고 진행
.ct-nav_depth2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    width: $nav-widthD2;

    padding: 40px;
    margin-left: $nav-widthD1;

    background: $white;

    color: $subColor;

    h2 {
        font-size: 40px;
        font-weight: 500;
    }
}

.nav_d2_area {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 98px;
}

.depth2 {
    display: flex;
    flex-direction: column;
    gap: 28px;

    a {
        font-size: 18px;

        &:hover {
            font-weight: 500;
        }
    }
}

.nav_btm_d2 {
    display: flex;
    flex-direction: column;
    gap: 8px;

    position: absolute;
    left: 40px;
    bottom: 40px;

    @include nav_btm_text;
}





// @media screen and (max-width: 1200px) {
//     #header {
//         position: fixed;
//         // position: relative;
//         top: 0;
//         left: 0;
//         right: 0;

//         height: 52px;
//         padding: 0;
//         background-color: $white; // 임시

//         .nav_d1_area {
//             display: none;
//         }

//         .nav_btm_d1,
//         .nav_btm_d2 {
//             display: none;
//         }
//     }
// }

// mobile navigation
.bgblur {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    z-index: 1000;
}

.m_header_area {
    display: none;
}

.nav_mobile {
    position: fixed;
    top: 0;
    right: 0;

    width: $mNavOpenW;
    height: 100svh;
    padding: 30px;

    background-color: $white;
    z-index: 1100;

    @include nav_btm_depth1
}

.btn_menu {
    display: none;

    position: fixed;
    top: 18px;
    right: 20px;
    z-index: 10000;

    width: 28px;
    height: 28px;

    // padding: 5px;
    border-radius: 50%;
    background-color: $white;
    transition: all 0.3s;

    // 모바일이라 hover 적용 안 됨! menu 오픈 때 사용, 수정할 예정!
    &:hover {
        transform: rotate(90deg);
    }

    i {
        display: inline-block;
        position: absolute;

        vertical-align: middle;

        box-sizing: border-box;

        &::before {
            content: '';
            margin: 1.4px;

            position: absolute;
            left: 50%; // before에서는 left
            top: 50%;

            width: 7.58px;
            height: 7.58px;
            border: 2px solid $subColor;
            border-radius: 50%;
            box-sizing: border-box;
        }

        &::after {
            content: '';
            margin: 1.4px;

            position: absolute;
            right: 50%; // after에서는 right
            top: 50%;

            width: 7.58px;
            height: 7.58px;
            border: 2px solid $subColor;
            border-radius: 50%;
            box-sizing: border-box;
        }

        &:nth-child(1) {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }

        &:nth-child(2) {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
        }
    }
}

@media screen and (max-width: 1200px) {
    .btn_menu {
        display: block;
    }
}


// .m_nav_open
.btn_menu.open {
    display: inline-block;
    visibility: hidden;

    position: fixed;
    top: 18px;
    right: 20px;
    z-index: 10000;

    width: 28px;
    height: 28px;

    padding: 6px;
    border-radius: 14px;
    background-color: $subColor;

    transition: all 0.3s;

    i {
        display: inline-block;

        vertical-align: middle;
        // transition: all 0.3s;

        &::before {
            content: '';

            margin: -2px 0 0 1px;
            position: absolute;
            left: 50%; // before에서는 left
            top: 50%;

            width: 8px;
            height: 4px;
            border-radius: 4px;
            border: 1px solid $subColor;
            background-color: $primary;
        }

        &::after {
            content: '';

            margin: -2px 1px 0 0;
            position: absolute;
            right: 50%; // after에서는 right
            top: 50%;

            width: 8px;
            height: 4px;
            border-radius: 4px;
            border: 1px solid $subColor;
            background-color: $primary;
        }

        &:nth-child(1) {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}

@media screen and (max-width: 1200px) {
    .btn_menu.open {
        visibility: visible;
    }
}

.m_depth1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;

    // m_depth1{gap:4px;} + m_depth2 {margin: 24px 0 0 0;} + m_depth2 > li {margin-bottom:16px;} = depth1 li 사이의 간격 총 28px 맞춰둔 상태.

    padding-top: 52px; // px지정 괜찮을까나...?
    font-size: 16px;
    color: $subColor;

    strong {
        position: relative;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;

        &::before {
            content: "";
            display: none;

            position: absolute;
        }

        &::after {
            content: '';
            display: none;

            position: absolute;
        }
    }

    .m_depth2 {
        display: block;
        position: relative;

        margin: 24px 0 0 0;
        width: auto;
        max-height: 0;

        opacity: 0;

        transition: max-height .3s, opacity 0.4s ease;

        li {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 16px;
            padding: 0 20px;
        }
    }

    li.active {
        strong {
            &::before {
                content: "";
                display: block;

                position: absolute;
                top: 16px;
                left: -4px;
                right: -4px;
                z-index: -1;
                height: 6px;
                border-radius: 3px;
                background-color: $primary;
            }

            &::after {
                content: '';
                display: block;

                position: absolute;
                top: 16px;
                right: -14px;
                z-index: -1;
                width: 6px;
                height: 6px;
                border-radius: 3px;
                background-color: $primary;
            }
        }

        .m_depth2 {
            display: block;
            position: relative;
            width: auto;
            // height: 100%;
            max-height: 132px;
            opacity: 1;

            // transition: all .75s ease;
        }
    }
}