// 미린님 보험

.in-insurance {
    padding: 56px 48px;
    
    h3 {
        padding: 0 0 18px 0;
        color: $txtDefault;
    }

    font-size: 18px;
}

.insurance_Comprehensive1 {

    .insurance-cc_txt_1{
        padding: 38px 0 80px 0;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .insurance-cc_txt1 {
        display: flex;
        align-items: center;
        gap: 8.5px;
        font-weight: 400;
    }

    .insurance-mt{
        font-weight: 500;
        line-height: 28px;
    }
}

.insurance_Comprehensive2 {

    .table_tr {

        .table_th1 {
            width: 20%;
        }

        .table_th2 {
            width: 60%;
        }

        .table_th3 {
            width: 20%;
        }
    }

    th {
        font-size: 20px;
        padding: 35px;
        vertical-align: middle;
    }
    td {
        vertical-align: middle;
        padding: 35px;
    }

    .table-p1 {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
    }

    .table-p2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
    }

    .table-p3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: left;
    }

    .table-p3-c {
        padding: 10px 0 0 0;
    }

    strong {
        color: $txtDefault;
        font-weight: 500;
        line-height: 26px;
        padding: 0;
    }

    .table_em {
        color: #0f4c79;
    }

    p,
    .table-p,
    .table-p2,
    .table-p3 {
        padding: 0;
    }

    .table-p3-c {
        padding: 10px 0 0 0;
    }

    .table-p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
    }

    br {
        display: none;
    }
}

.insurance_Comprehensive3 {
    padding: 80px 0 0 0;

    p {
        color: #555;
        font-weight: 400;
    }

    .comprehensive3_txt_2 {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .comprehensive3_txt_c-p {
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        .c3_c-p-1 {
            font-weight: 500;
    
            &::before{
                content: '1.';
            }
        }

        .c3_c-p-2 {
            font-weight: 500;

            &::before{
                content: '2.';
            }
        }
        
        .c3_c-p-3 {
            font-weight: 500;

            &::before{
                content: '3.';
            }
        }

        .c3_c-p-4 {
            font-weight: 500;
    
            &::before{
                content: '4.';
            }
        }
    }

    .c3_c-p-5 {
        padding: 0 0 0 16px;
    }

    .comprehensive3_txt_1 {
        display: flex;
        flex-direction: column;
    }

    .comprehensive3_txt-p {
        padding-bottom: 22px;
    }

    .Comprehensive3_t2 {
        padding-left: 18px;
    }

    .insurance-cc_txt {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .insurance-cc_txt2 {
        display: flex;
        align-items: center;
        gap: 8.5px;
        font-weight: 500;
        padding-bottom: 5px;
    }

    .insurance-cc_txt3 {
        display: flex;
        gap: 5px;
        font-weight: 400;
    
        &::before {
            content: '※';
        }
    }

    .c3_c-p-1-t{
        padding: 0 0 0 18px;
    }
}
.insurance_Comprehensive1,
.insurance_Comprehensive3 {

    .insurance-cc_txt-b::before {
        content: '';
        display: flex;
        flex-shrink: 0;
        background: url(/images/sub_insurance/square.svg) no-repeat 0 0;
        background-size: 10.5px 10.5px;
        width: 10.5px;
        height: 10.5px;
        color: $txtDefault;
    }
}

@media screen and (max-width : 1200px) {

    .insurance-wrap {
        padding: 0;
    }

    .in-insurance {
        padding: 56px 36px;

        h3 {
            font-size: 24px;
            padding: 0 0 9px 0;
        }
        
        font-size: 16px;
    }

    .insurance_Comprehensive1{
        
        .insurance-cc_txt_1{
            padding: 28px 0 66px 0;
            gap: 14px;
        }
    }
    
    .insurance_Comprehensive2 {

        table {
            margin-top: 5px;
        }

        th {
            padding: 25px;
            font-size: 18px;
        }

        td {
            padding: 25px;
        }

        br {
            display: none;
        }
    }

    .insurance_Comprehensive1,
    .insurance_Comprehensive3 {

        .insurance-cc_txt-b::before {
            background-size: 10px 10px;
            width: 10px;
            height: 10px;
        }
    }
    
    .insurance_Comprehensive3 {
        padding: 66px 0 56px 0;

        .insurance-cc_txt {
            gap: 14px;
        }

        .comprehensive3_txt_2 {
            gap: 14px;
        }

        .insurance-cc_txt2 {
            gap: 6.5px;
        }
    }
}

@media screen and (max-width : 430px) {

    .insurance-wrap {
        padding: 0;
        margin: 0;
    }

    .in-insurance {
        padding: 0 20px;

        h3 {
            font-size: 18px;
            padding: 18px 0 5px 0;
        }
        
        p {
            font-size: 14px;
        }
    }

    .insurance_Comprehensive1{

        .insurance-mt{
            line-height: 21px;
        }
        
        .insurance-cc_txt_1{
            padding: 18px 0 44px 0;
            gap: 10px;
        }
    }
    
    .insurance_Comprehensive2 {

        th {
            font-size: 16px;
            padding: 10px;
            vertical-align: middle;
        }

        td {
            vertical-align: middle;
            padding: 10px;
            font-size: 14px;
        }
        
        .table_em {
            line-height: normal;
        }

        br {
            display: block;
        }
    }

    .insurance_Comprehensive1,
    .insurance_Comprehensive3 {

        .insurance-cc_txt-b::before {
            background-size: 9.33px 9.33px;
            width: 9.33px;
            height: 9.33px;
        }
    }
    
    .insurance_Comprehensive3 {
        padding: 44px 0 56px 0;

        .insurance-cc_txt {
            gap: 10px;
        }
    
        .insurance-cc_txt3 {
            display: flex;
            padding: 0;
            gap: 5px;
            font-weight: 400;
        
            &::before {
                content: '※';
            }
        }

        .comprehensive3_txt_2 {
            gap: 10px;
        }

        .insurance-cc_txt2 {
            gap: 5px;
        }
    }
}