// 원지님 사업소개

.intro-wrap {
    word-break: keep-all;
}

.intro-top {
    img {
        text-align: center;
        width: 100%;
    }
    .text {
        padding-top: 32px;
        text-align: center;
        .title {
            font-size: 28px;
            font-weight: 600;
        }
        .content {
            padding-top: 12px;
            color: $gray7;
            font-size: 20px;
            font-weight: 400;
        }
        .primary {
            color: $primary;
            font-weight: 600;
        }
    }
    
    
}


@media screen and (max-width: 1200px) {
    .hd-n {
        display: none;
    }
}

@media screen and (max-width:920px) {
    .intro-top {
        img {
            width: 100%;
        }
    }
}

@media screen and (max-width: 470px) {
    .inner {
        padding: 0;
    }
    .intro-top {
        padding: 65px 20px 20px 20px;
        img {
            width: 100%;
        }
        .text {
            .title {
                display: block;
                width: 300px;
                text-align: center;
                margin: auto;
                font-size: 20px;
            }
            .content {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 370px) {
    .intro-top {
        .text {
            .title {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .intro-top {
        .text {        
            .title {
                font-size: 18px;
            }
            .content {
                font-size: 14px;
            }
        }
    }
}

.intro-main {
    position: relative;
    padding-top: 140px;
    .intro-bg {
        text-align: center;
        width: 100%;
    }
}

.intro-content {
    ul {
        li {
        position: absolute;
            &:first-child {
                top: 80px;
                left: 0;
                &::after {
                    content: '';
                    position: absolute;
                    top: 154px;
                    right: -320px;
                    width: 40%;
                    height: 30%;
                    background: url(../../images/sub_intro/bike_stone.png) 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:nth-child(2) {
                top: 500px;
                right: 0;
            }
            &:nth-child(3) {
                bottom: -30px;
                left: 70px;
                &::after {
                    content: '';
                    position: absolute;
                    top: -288px;
                    right: -100px;
                    width: 90%;
                    height: 30%;
                    background: url(../../images/sub_intro/bike.png) 0 0 no-repeat;
                    background-size: contain;
                }
            }
            &:last-child {
                bottom: -360px;
                right: 0;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 84px;
                    left: -66px;
                    width: 20%;
                    height: 25%;
                    background: url(../../images/sub_intro/stone_1.png) 0 0 no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .content {
        width: 490px;
        padding-bottom: 56px;
    }
    .intro-contentimg {
        border-radius: 15px;
        width: 100%;
        &::before { 
            content: '';
            display: block;
            width: 100%;
            height: 0;
            padding-top: 100%;
        }
    }
    .txt {
        margin-top: 20px;
        text-align: center;
        position: relative;
        .title {
            color: $subColor;
            font-size: 24px;
            font-weight: 700;
            background-image: linear-gradient(180deg, $bgDefault 75%, $subColor3 10%);
        }
        .sub {
            display: block;
            margin-top: 12px;
            color: $gray7;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width:1440px) {
    .intro-content {
        ul {
            li {
                &:first-child {
                    top: 80px;
                    left: 0;
                    &::after {
                        top: 154px;
                        right: -320px;
                    }
                }
                &:nth-child(2) {
                    top: 500px;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: -30px;
                    left: 70px;
                }
                &:last-child {
                    bottom: -360px;
                    right: 0;
                    &::after {
                        bottom: 84px;
                        left: -66px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .intro-main {
        padding-top: 290px;
    }
    .intro-content {
        ul {
            li {
                padding: 0 20px;
                &:first-child {
                    top: 20px;
                    left: 0;
                    &::after {
                        top: 380px;
                        right: 0px;
                        width: 27%;
                    }
                }
                &:nth-child(2) {
                    top: 505px;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: 180px;
                    left: 0;
                    &::after {
                        top: -140px;
                        left: 60px;
                        width: 57%;
                        background: url(../../images/sub_intro/bike.png) 0 0 no-repeat;
                        background-size: contain;
                    }
                }
                &:last-child {
                    bottom: -325px;
                    right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .txt {        
            margin-top: 16px;
            .title {
                font-size: 20px;
            }
            .sub {
                font-size: 16px;
                margin-top: 10px;
            }
        }
        .content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 450px) {
    .intro-main {
        padding-top: 280px;
    }
    .intro-content {
        ul {
            li {
                &:first-child {
                    top: 20px;
                    &::after {
                        top: 360px;
                    }
                }
                &:nth-child(2) {
                    top: 475px;
                }
                &:nth-child(3) {
                    bottom: 160px;
                    &::after {
                        top: -140px;
                    }
                }
                &:last-child {
                    bottom: -315px;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .intro-main {
        padding-top: 260px;
    }
    .intro-content {
        ul {
            li {
                &:first-child {
                    &::after {
                        top: 340px;
                    }
                }
                &:nth-child(2) {
                    top: 450px;
                }
                &:nth-child(3) {
                    &::after {
                        top: -110px;
                    }
                }
                &:last-child {
                    bottom: -295px;
                    
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .intro-main {
        padding-top: 240px;
    }
    .intro-content {
        ul {
            li {
                &:first-child {
                    &::after {
                        top: 320px;
                    }
                }
                &:nth-child(2) {
                    top: 420px;
                }
                &:nth-child(3) {
                    &::after {
                        top: -100px;
                    }
                }
                &:last-child {
                    bottom: -265px;
                    
                }
            }
        }
        .txt {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 375px) {
    .intro-main {
        padding-top: 215px;
    }
    .intro-content {
        ul {
            li {
                &:first-child {
                    &::after {
                        top: 300px;
                    }
                }
                &:nth-child(2) {
                    top: 400px;
                }
                &:nth-child(3) {
                    bottom: 100px;
                    &::after {
                        top: -90px;
                    }
                }
                &:last-child {
                    bottom: -295px;
                    
                }
            }
        }
        .txt {
            margin-top: 10px;
            .title {
                font-size: 18px;
            }
            .sub {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 345px) {
    .intro-main {
        padding-top: 200px;
    }
    .intro-content {
        ul {
            li {
                &:first-child {
                    &::after {
                        top: 280px;
                    }
                }
                &:nth-child(2) {
                    top: 380px;
                }
                &:nth-child(3) {
                    bottom: 100px;
                    &::after {
                        top: -80px;
                    }
                }
                &:last-child {
                    bottom: -280px;
                    
                }
            }
        }
        
    }
}

