.in-notice {
    text-align: center;

    h3 {
        padding: 56px 0 33px 0;
        font-size: 36px;
    }
    
    .notice {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: $gray7;
    }

    .notice1 {
        display: flex;
        flex-direction: column;
        color: $gray7;
        font-size: 24px;
        max-width: 1280px;
        padding: 44px 0 50px 0;

        &::after {
            content: '';
            border-bottom: 1px solid $grayC9;
        }
    }

    .notice-arr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 500;
        text-align: left;
        max-width: 1280px;

        &::before {
            content: '';
            border-bottom: 1px solid $grayC9;
        }
    }

    .notice-num_t_d {
        display: flex;
        justify-content: space-between;
        padding: 20px 24px;

        .notice-num_t {
            display: flex;
            gap: 36px;
        }
        .notice-arr_number {
            display: flex;
            align-items: center;
            color: $grayC9;
            font-weight: 500;
            text-align: center;
            min-width: 30px;
            font-size: 18px;
        }

        .notice-arr_text{

            a{
                font-weight: 400;
                font-size: 20px;
            }
        }

        .notice-arr_text_c {

            a{
                color: #0f4c79;
                font-weight: 600;
            }
        }

        .notice-arr_date {
            color: $grayD9;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
        }
    }

    .search_form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        border-radius: 29px;
        padding: 0 20px 0 0;
        background-color: $white;

        .notice-input {
            border: none;
            background-color: transparent;
            padding: 14px 150px 14px 20px;
            display: flex;
            align-items: center;
            border-radius: 29px;
            outline: none;
            font-weight: 400;

            &::placeholder {
                color: #ccc;
            }
        }

        .notice-search_btn{
            content: '';
            display: block;
            background: url(../../images/sub_notice/search.png) no-repeat 0 0;
            background-size: 25px 25px;
            width: 25px;
            height: 25px;
        }
    }

    .pagenumber {
        display: flex;
        justify-content: center;
        gap: 40px;
        color: $gray7;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        padding: 0 0 70px 0;

        .pagenum {
            
            .selected {
                color: $primary;
                cursor: text;

            a:hover {
                color: $primary;
            }
            }
        }
    }
    .pagenum {

        a:hover {
            color: $subColor2;
        }
    }
}

@media screen and (max-width : 375px) {

    .notice-wrap {
        max-width: 375px;
        margin: 0;
        padding: 0 24px;
    }
    .in-notice {
        text-align: center;

        .hd-n {
            display: none;
        }
    
        h3 {
            padding: 56px 0 33px 0;
            font-size: 20px;
            text-align: left;
        }
        
        .notice {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: $gray7;
        }
    
        .notice1 {
            display: flex;
            flex-direction: column;
            color: $gray7;
            font-size: 16px;
            max-width: 375px;
            padding: 44px 0 30px 0;
    
            &::after {
                content: '';
                border-bottom: 1px solid $grayC9;
            }
        }
    
        .notice-arr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 500;
            text-align: left;
            max-width: 1280px;
    
            &::before {
                content: '';
                border-bottom: 1px solid $grayC9;
            }
        }
    
        .notice-num_t_d {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 13px;
            gap: 20px;
    
            .notice-num_t {
                display: flex;
                gap: 11px;
            }
            
            .notice-arr_number {
                min-width: 20px;
                gap: 8px;
                font-size: 16px;
                display: block;
            }
        }
    
        .search_form {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            border-radius: 29px;
            padding: 0 20px 0 0;
            background-color: $white;
    
            .notice-input {
                border: none;
                background-color: transparent;
                padding: 14px 0 14px 20px;
                display: flex;
                align-items: center;
                border-radius: 29px;
                outline: none;
                font-weight: 600;
                font-size: 16px;
                width: 100%;
            }
    
            .notice-search_btn{
                content: '';
                display: block;
                background: url(../../images/sub_notice/search.png) no-repeat 0 0;
                background-size: 12px 20px;
                width: 12px;
                height: 20px;
            }
        }
    
        .pagenumber {
            display: flex;
            justify-content: center;
            gap: 40px;
            color: $gray7;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            padding: 0 0 70px 0;
    
            .pagenum {
    
                a:hover {
                    color: $subColor2;
                }
            }
    
            .selected {
                color: $primary;
            }
        }
    }
};