// 미린님 보험

.in-insurance {
    padding: 56px 48px;
    
    h3 {
        padding: 0 0 18px 0;
        color: $txtDefault;
    }
}


.insurance_Comprehensive1 {

    .insurance-cc_txt_1{
        padding: 38px 0 80px 0;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .insurance-cc_txt1 {
        display: flex;
        align-items: center;
        gap: 8.5px;
        font-weight: 400;
    }

    .insurance-cc_txt1::before {
        content: '';
        display: block;
        background: url(/images/sub_insurance/square.svg) no-repeat 0 0;
        background-size: 10.5px 10.5px;
        width: 10.5px;
        height: 10.5px;
        color: $txtDefault;
    }
}

.insurance_Comprehensive2 {

    .table-p2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        width: fit-content;
        text-align: left;
    }

    .table-p3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: left;
        width: fit-content;
    }

    .table-p3-c {
        padding: 10px 0 0 0;
    }

    strong {
        color: $txtDefault;
        font-weight: 500;
        line-height: 26px;
        padding: 0;
    }

    .table_em {
        color: blue;
    }
}

.insurance_Comprehensive3 {
    padding: 80px 0 0 0;

    p {
        color: #555;
        font-weight: 400;
    }

    .comprehensive3_txt_2 {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .comprehensive3_txt_c-p {
        display: flex;
        flex-direction: column;
        gap: 5px;
    
        // .c3_c-p-1 {
        //     font-weight: 500;
    
        //     &::before{
        //         content: '1.';
        //     }
        // }

        // .c3_c-p-2 {
        //     font-weight: 500;
    
        //     &::before{
        //         content: '2.';
        //     }
        // }
        
        // .c3_c-p-3 {
        //     font-weight: 500;
    
        //     &::before{
        //         content: '3.';
        //     }
        // }

        // .c3_c-p-4 {
        //     font-weight: 500;
    
        //     &::before{
        //         content: '4.';
        //     }
        // }
    }

    .c3_c-p-5 {
        padding: 0 0 0 16px;
    }

    .comprehensive3_txt_1 {
        display: flex;
        flex-direction: column;
    }

    .comprehensive3_txt-p {
        padding: 0 0 22px 0;
    }

    .Comprehensive3_t2 {
        padding: 0 0 0 18px;
    }
}


.insurance_creation1 {
    color: $txtDefault;
    padding: 0 0 80px 0;

    p {
        font-weight: 500;
        line-height: 28px;
        margin:  0 0 0 0;
    }
}

.insurance_creation2 {
    padding: 0 0 80px 0;

    .table2-p {
        margin: 0 auto;
        text-align: left;
        max-width: 124px;
    }
}

.insurance_creation3 {
    color: $gray5;
    font-weight: 400;

    h2 {
        margin: 0;
    }

    .creation3_txt2 {
        display: flex;
        gap: 5px;
        margin: 18px 0 0 0;
        font-weight: 600;
        color: $txtDefault;

        &::before {
            content: '※';
        }
    }

    .creation3_txt2-1 {
        margin: 5px 0 0 0;
    }
}


.insurance_Comprehensive2,
.insurance_creation2 {
    
    th {
        font-size: 20px;
        padding: 35px;
        vertical-align: middle;
    }
    td {
        vertical-align: middle;
        padding: 35px;
    }

    p,
    .table-p,
    .table-p2,
    .table-p3,
    .table2-p {
        padding: 0;
    }
    
    .table-p3-c {
        padding: 10px 0 0 0;
    }

    .table-p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
        width: fit-content;
        max-width: 573px;
    }

    .table_tr {

        .table_th1 {
            width: 239px;
        }

        .table_th2 {
            width: 721px;
        }

        .table_th3 {
            width: 239px;
        }
    }

    .table-p1 {
        display: flex;
        text-align: left;
        align-items: center;
        justify-content: center;
    }
}


.insurance_Comprehensive3,
.insurance_creation3 {

    .insurance-mt{
        font-weight: 500;
        line-height: 28px;
    }

    .insurance-cc_txt {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .insurance-cc_txt2 {
        display: flex;
        align-items: center;
        gap: 8.5px;
        font-weight: 400;
    }

    .insurance-cc_txt2::before {
        content: '';
        display: block;
        background: url(/images/sub_insurance/square.svg) no-repeat 0 0;
        background-size: 10.5px 10.5px;
        width: 10.5px;
        height: 10.5px;
        color: $txtDefault;
    }

    .insurance-cc_txt3 {
        display: flex;
        padding: 0 0 0 18px;
        gap: 5px;
        font-weight: 400;
    
        &::before {
            content: '※';
        }
    }

    .insurance-cc_t1 {
        font-weight: 500;
        padding: 0 0 5px 0;
    }

    .c3_c-p-1-t{
        padding: 0 0 0 18px;
    }
}