.inner-notice {
    text-align: center;

    h3 {
        padding: 56px 0 33px 0;
        font-size: 36px;
    }
    
    .notice {
        display: flex;
        justify-content: center;
        font-size: 20px;
        color: $gray7;
    }

    .notice1 {
        display: flex;
        flex-direction: column;
        color: $gray7;
        font-size: 24px;
        max-width: 1280px;
        padding: 44px 0 50px 0;

        &::after {
            content: '';
            border-bottom: 1px solid $grayC9;
        }
    }

    .notice-arr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 500;
        text-align: left;
        max-width: 1280px;

        &::before {
            content: '';
            border-bottom: 1px solid $grayC9;
        }
    }

    .notice-num_t_d {
        display: flex;
        justify-content: space-between;
        padding: 70px 24px;

        .notice-num_t {
            display: flex;
            gap: 36px;
        }
        .notice-arr_number {
            color: $primary;
            font-weight: bold;
        }

        .notice-arr_text {

            a:hover {
                color: $subColor3;
            }
        }
        .notice-arr_text_c {

            a {
                color: #3042E2;
                font-weight: 600;

                &:hover {
                    color: $subColor3;
                }
            }
        }

        .notice-arr_date {
            color: $txtDefault;
        }
    }

    // .select_form {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin: 0 54px 0 0;
    //     padding: 0 20px 0 0;
    //     border-radius: 29px;
    //     background-color: $white;

    //     .notice-select_txt {
    //         background-color: transparent;
    //         border-radius: 29px;
    //         padding: 14px 90px 14px 20px;
    //         color: $gray7;
    //         font-weight: 600;
    //     }
    //     .notice-select_btn {
    //         content: '';
    //         display: block;
    //         background: url(../../images/sub_notice/arrow_down.png) no-repeat 0px 0px;
    //         background-size: 25px 25px;
    //         width: 25px;
    //         height: 25px;
    //     }
    // }

    .search_form {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        border-radius: 29px;
        padding: 0 20px 0 0;
        background-color: $white;

        .notice-input {
            border: none;
            background-color: transparent;
            padding: 14px 80px 14px 20px;
            display: flex;
            align-items: center;
            border-radius: 29px;
            outline: none;
            font-weight: 600;
        }

        .notice-search_btn{
            content: '';
            display: block;
            background: url(../../images/sub_notice/search.png) no-repeat 0 0;
            background-size: 25px 25px;
            width: 25px;
            height: 25px;
        }
    }

    .pagenumber {
        display: flex;
        justify-content: center;
        gap: 40px;
        color: $gray7;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        padding: 0 0 70px 0;

        .pagenum {

            a:hover {
                color: $subColor2;
            }
        }

        .selected {
            color: #4CAB6A;
        }
    }
}

@media screen and (max-width : 375px) {

    .notice-wrap {
        max-width: 375px;
        margin: 0;
        padding: 0 24px;
    }
    .inner-notice {
        text-align: center;

        .hd-n {
            display: none;
        }
    
        h3 {
            padding: 56px 0 33px 0;
            font-size: 20px;
            text-align: left;
        }
        
        .notice {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: $gray7;
        }
    
        .notice1 {
            display: flex;
            flex-direction: column;
            color: $gray7;
            font-size: 16px;
            max-width: 375px;
            padding: 44px 0 50px 0;
    
            &::after {
                content: '';
                border-bottom: 1px solid $grayC9;
            }
        }
    
        .notice-arr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 500;
            text-align: left;
            max-width: 1280px;
    
            &::before {
                content: '';
                border-bottom: 1px solid $grayC9;
            }
        }
    
        .notice-num_t_d {
            display: flex;
            justify-content: space-between;
            padding: 30px 12px;
            gap: 10px;
            flex-direction: column;
    
            .notice-num_t {
                display: flex;
                gap: 11px;
            }
            .notice-arr_number {
                color: $primary;
                font-weight: bold;
            }
    
            .notice-arr_text {
    
                a:hover {
                    color: $subColor3;
                }
            }
            .notice-arr_text_c {
    
                a {
                    color: #3042E2;
                    font-weight: 600;
    
                    &:hover {
                        color: $subColor3;
                    }
                }
            }
    
            .notice-arr_date {
                color: $txtDefault;
                text-align: right;
            }
        }
    
        .search_form {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: transparent;
            border-radius: 29px;
            padding: 0 20px 0 0;
            background-color: $white;
    
            .notice-input {
                border: none;
                background-color: transparent;
                padding: 14px 0 14px 20px;
                display: flex;
                align-items: center;
                border-radius: 29px;
                outline: none;
                font-weight: 600;
                font-size: 16px;
                width: 100%;
            }
    
            .notice-search_btn{
                content: '';
                display: block;
                background: url(../../images/sub_notice/search.png) no-repeat 0 0;
                background-size: 12px 20px;
                width: 12px;
                height: 20px;
            }
        }
    
        .pagenumber {
            display: flex;
            justify-content: center;
            gap: 40px;
            color: $gray7;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            padding: 0 0 70px 0;
    
            .pagenum {
    
                a:hover {
                    color: $subColor2;
                }
            }
    
            .selected {
                color: #4CAB6A;
            }
        }
    }
};