// // 민영 이용요금 안내

@media screen and (max-width: 1024px) {
    .hidden {
        display: none;
    }
}


// ticket_info

// mq = 미디어 쿼리를 파트를 나누어서 하겠다고 해둔 것.
// mq 1
.ticket_summary {
    padding: 40px 80px 60px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    align-items: center;

    background-color: $white;
    border-radius: 16px;

    h3 {
        color: $subColor;
    }
}

// mq 2
.summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sum-gap-line {
        width: 1px;
        height: 180px;
        background-color: $grayE8;
    }

    img {
        width: 120px;
    }
}

// mq 3
.sum-contents {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sum-txt {
        text-align: center;
        color: $subColor;
        font-weight: 600;
    }
}



@media screen and (max-width: 1024px) {

    // mq 1
    .ticket_summary {
        padding: 0;
        // 패딩 값을 어떻게 조절해야 할 지 연구하자
        background-color: rgba($color: #000000, $alpha: 0.0);

        h3 {
            font-size: 20px;
        }
    }

    // mq 2
    .summary-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        .sum-gap-line {
            display: none;
        }

        img {
            width: 80px;
        }
    }

    // mq3 위의 부모 추가
    .sum-item {
        width: calc(50% - 10px);

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $white;
        border-radius: 8px;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
        }

        .sum-contents {
            position: absolute;
            display: flex;
            align-items: center;
        }
    }
}




// 상품안내

// on/off
.hidden {
    display: none !important;
}

.in-t-info {
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    h3 {
        margin-bottom: 18px;
    }
}

.m-fee {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.m-fee-comm {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: $white;
    border-radius: 16px;
}



.fee-comm {
    display: flex;
    flex-direction: row;
    word-break: keep-all;

    .m-tic-left {
        width: 25%;
        font-weight: 600;
    }

    .m-tic-right {
        width: 75%;
    }


}


// ticket_info : warning
.warn-wrap {
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: $white;
    border-radius: 16px;

    // 미디어 쿼리로 모바일에 적용
    // .warn {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 20px;
    // }

    .warn-num {
        margin-right: 44px;
        color: $primary;
        font-size: 48px;
        font-weight: 600;
    }

    .warn-tit {
        color: $txtDefault;
        font-size: 24px;
        font-weight: 500;
    }

    .warn-txt {
        margin-left: 100px;
        color: $gray5;
        font-size: 16px;
        font-weight: 400;
    }

    .warn-tit-area {
        display: flex;
        flex-direction: row;
        align-items: center
    }

    .warn-gap-line {
        width: 100%;
        height: 1px;
        background-color: $grayE8;
        align-self: center;
    }
}

@media screen and (max-width: 1024px) {

    .warn-wrap {
        padding: 24px 16px;

        gap: 24px;

        .warn-num {
            margin-right: 20px;
        }

        .warn-tit {
            font-size: 20px;
        }

        .warn-txt {
            margin-top: 16px;
            margin-left: 0;
        }
    }



    // 라인 넣을 지 말지 최종 결정 필요
    // .warn-gap-line {
    //     display: none;
    // }
}

// 환불규정

//table comm.scss설정과 이어짐
table {
    tbody {
        tr {
            .add-right-line {
                border-right: 2px solid $grayE8;
            }

        }
    }
}

.tic-refund-wrap {
    display: flex;
    flex-direction: column;
    gap: 18px;
}