$primary: #4CAB6A;
$green1: #30E291;
$subColor: #3D5567;

$white: #fff;
$black: #000;

$gray-e: #eee;
$gray-9: #999;



$txtDefault: #000000;
$titDefult: #000000;

// size
$bothMargin: 4%;
$headerHeight: 70px;
$spacingList: 20px;

// background
$bgDefault: #fafafa