$primary: #30E291;
$subColor: #3D5567;
$subColor2:#7E8E9A;

$white: #fff;
$black: #000;


$txtDefault: #333333;
$titDefult: #333333;
$grayE8: #e8e8e8;
$grayD9: #d9d9d9;
$grayC9: #c9c9c9;
$gray7: #777777;
$gray5: #555555;

// size
// μ„Έν…μ•ν•¨
$bothMargin: 4%;
$headerHeight: 70px;
$spacingList: 20px;

// background
$bgDefault: #fafafa