$primary: #30E291;
$subColor: #3D5567;
$subColor2: #7E8E9A;
$subColor3: #ACF3D3;

$white: #fff;
$black: #000;

// Gray
$grayE8: #E8E8E8;
$grayD9: #D9D9D9;
$grayC9: #C9C9C9;
$gray7: #777777;
$gray5: #555555;
$gray3: #333333;

//font color
$txtDefault: #333333;
$titDefult: #333333;
$grayE8: #e8e8e8;
$grayD9: #d9d9d9;
$grayC9: #c9c9c9;
$gray7: #777777;
$gray5: #555555;

// size
// pc nav 관련
$nav-widthD1: 254px;
$nav-widthD2: 373px;
// mobile nav 관련
$mHdHeight: 52px;

// background
$bgDefault: #fafafa