$primary: #30E291;
$subColor: #3D5567;

$white: #fff;
$black: #000;


$txtDefault: #333333;
$titDefult: #333333;

// size
// μ„Έν…μ•ν•¨
$bothMargin: 4%;
$headerHeight: 70px;
$spacingList: 20px;

// background
$bgDefault: #fafafa