$primary: #30E291;
$subColor: #3D5567;
$subColor2: #7E8E9A;

$white: #fff;
$black: #000;

// Gray
$grayE8: #E8E8E8;
$grayD9: #D9D9D9;
$grayC9: #C9C9C9;
$gray7: #777777;
$gray5: #555555;

//font color
$txtDefault: #333333;
$titDefult: #333333;

// size
// μ„Έν…μ•ν•¨
$bothMargin: 4%;
$headerHeight: 70px;
$spacingList: 20px;

// background
$bgDefault: #fafafa