@import "variables", "mixins", "reset";

// 페이지 내용 레이아웃 max-width 제한
body {
    // 최소 사이즈 설정
    // 320px 아래는 스크롤
    min-width: 320px;

    // header와의 정렬
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.wrap {
    .inner {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
}

// h1 = 따릉이 로고
.blind {
    // display: none;
    position: absolute;
    text-indent: -9999px;
    left: -9999px;
}

// h3 페이지 내에 들어가는 소제목
h3 {
    font-size: 28px;
    font-weight: 600
}

// table
table {
    width: 100%;
    background-color: $white ;
    border-radius: 16px;

    * {
        padding: 20px;
    }

    thead th {
        &:first-child {
            border-radius: 16px 0 0;
        }

        &:last-child {
            border-radius: 0 16px 0 0;
        }
    }

    // 표 중에서 thead-tr-th가 하나뿐이라 border-radius값이 제대로 적용되지 않는 경우에 thead에 class="th-oneline" 추가
    .th-oneline tr th {
        border-radius: 16px 16px 0 0;
    }

    tr {
        border-bottom: 2px solid $grayE8;

        &:last-child {
            border-bottom: none;
        }

        th {
            background: $grayE8;
            text-align: center;
            font-weight: 500;
        }

        td {
            border-right: 2px solid $grayE8;
            color: $gray5;
            text-align: center;
            font-weight: 400;

            &:last-child {
                border-right: none;
            }
        }
    }
}


// 아래에 각자 페이지 연결
@import "main", "sub_insurance", "sub_insurance2", "sub_ticket_info", "sub_ticket_pay", "sub_safety", "sub_business_intro", "sub_notice", "sub_rental", "nav";