@import "variables", "mixins", "reset";

// 페이지 내용 레이아웃 max-width 제한
.wrap {
    width: 100%;
    padding: 0 48px;

    .inner {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
}

// h1 = 따릉이 로고
// h2 : 모두 class="blind" 지정 예정
.blind {
    // display: none;
    position: absolute;
    text-indent: -9999px;
    left: -9999px;
}

// h3 페이지 내에 들어가는 소제목
h3 {
    font-size: 28px;
    font-weight: 600
}


// 이 아래는 임시로 태그 잡아두었습니다. 추후 클래스 지정 가능성 높습니다.
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// 네브 = 헤더
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    // % 전환 가능성 있음
    height: 100vh;

    background-color: $white;
    min-width: 254px;

    img {
        display: block;
        width: 174px;
    }
}


table {
    width: 100%;
    background-color: $white ;
    border-radius: 16px;

    * {
        padding: 20px;
    }

    thead th {
        &:first-child {
            border-radius: 16px 0 0;
        }

        &:last-child {
            border-radius: 0 16px 0 0;
        }
    }

    // 표 중에서 thead-tr-th가 하나뿐이라 border-radius값이 제대로 적용되지 않는 경우에 thead에 class="th-oneline" 추가
    .th-oneline tr th {
        border-radius: 16px 16px 0 0;
    }

    tr {
        border-bottom: 2px solid $grayE8;

        &:last-child {
            border-bottom: none;
        }

        th {
            background: $grayE8;
            text-align: center;
            font-weight: 500;
        }

        td {
            border-right: 2px solid $grayE8;
            color: $gray5;
            text-align: center;
            font-weight: 400;

            &:last-child {
                border-right: none;
            }
        }
    }
}


// 아래에 각자 페이지 연결
@import "main", "sub_insurance", "sub_insurance2", "sub_ticket_info", "sub_ticket_pay", "sub_safety", "sub_business_intro", "sub_notice", "sub_info";