@import "variables", "mixins", "reset";

// 페이지 내용 레이아웃 max-width 제한
.wrap {
    margin: 0 auto;
    max-width: 1280px;
}



// 네브 = 헤더










// 이 아래는 임시로 태그 잡아두었습니다. 추후 클래스 지정 가능성 높습니다.\
// h2 모두 .blind 예정
.blind {
    // display: none;
    position: absolute;
    text-indent: -9999px;
    left: -9999px;
}

h3 {
    font-size: 28px;
    font-weight: 600
}

table {
    width: 100%;
    background-color: $white ;
    border-radius: 16px;

    * {
        padding: 20px;
    }

    thead th {
        &:first-child {
            border-radius: 16px 0 0;
        }

        &:last-child {
            border-radius: 0 16px 0 0;
        }
    }

    tr {
        border-bottom: 2px solid $grayE8;

        &:last-child {
            border-bottom: none;
        }

        th {
            background: $grayE8;
            text-align: center;
            font-weight: 500;
        }

        td {
            border-right: 2px solid $grayE8;
            color: $gray5;
            text-align: center;
            font-weight: 400;

            &:last-child {
                border-right: none;
            }
        }
    }
}


// 아래에 각자 페이지 연결
@import "main", "sub_insurance", "sub_ticket";