@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fafafa;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  width: 100%;
  padding: 0 48px;
}
.wrap .inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  text-indent: -9999px;
  left: -9999px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  background-color: #fff;
  min-width: 254px;
}
#header img {
  display: block;
  width: 174px;
}

table {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
}
table * {
  padding: 20px;
}
table thead th:first-child {
  border-radius: 16px 0 0;
}
table thead th:last-child {
  border-radius: 0 16px 0 0;
}
table .th-oneline tr th {
  border-radius: 16px 16px 0 0;
}
table tr {
  border-bottom: 2px solid #e8e8e8;
}
table tr:last-child {
  border-bottom: none;
}
table tr th {
  background: #e8e8e8;
  text-align: center;
  font-weight: 500;
}
table tr td {
  border-right: 2px solid #e8e8e8;
  color: #555555;
  text-align: center;
  font-weight: 400;
}
table tr td:last-child {
  border-right: none;
}

#main {
  overflow: hidden;
}

.wrap {
  position: relative;
  margin-left: 254px;
  padding: 0;
}
.wrap #map {
  width: 100%;
  height: 100vh;
}

.bikeinfo {
  padding: 16px 24px 24px 24px;
}
.bikeinfo::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 60px;
  top: -21px;
  right: 0px;
  z-index: 1;
  background: url(../../images/main/bikeinfo_d.png);
}

.bikeinfo-layout {
  display: none;
  position: absolute;
  top: 150px;
  right: 3px;
  z-index: 100;
  width: 336px;
  height: 488px;
  background-color: #fff;
  filter: drop-shadow(4px 4px 8px #c9c9c9);
  border-radius: 15px;
}
.bikeinfo-layout.hide {
  display: none !important;
}

.bikeinfo-box {
  position: absolute;
  top: 150px;
  right: 0;
  width: 70px;
  height: 160px;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
  filter: drop-shadow(4px 4px 8px #c9c9c9);
}
.bikeinfo-box::before {
  display: none;
}
.bikeinfo-box.add::before {
  content: "";
  display: block;
  width: 13px;
  height: 100vh;
  position: absolute;
  top: -150px;
  right: 0;
  z-index: 1;
  background-color: #fff;
}
.bikeinfo-box img {
  padding: 28px 20px;
}

.bikeinfo-title {
  display: flex;
  justify-content: space-between;
}
.bikeinfo-title .tit {
  color: #3D5567;
  font-size: 24px;
  font-weight: 600;
  background-image: linear-gradient(180deg, #fff 75%, #ACF3D3 10%);
}
.bikeinfo-title .text-list {
  position: relative;
  display: flex;
  align-items: center;
}
.bikeinfo-title .text-list .nav {
  flex-wrap: nowrap;
  --bs-nav-link-color: 0;
  --bs-nav-link-hover-color: 0;
}
.bikeinfo-title .text-list .nav-tabs {
  --bs-nav-tabs-border-width: 0 ;
}
.bikeinfo-title .text-list .nav-link {
  padding: 0;
  width: 40px;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.bikeinfo-title .text-list .active {
  font-weight: 500;
}
.bikeinfo-title .text-content::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 40px;
  width: 1px;
  height: 12px;
  background-color: #d9d9d9;
}

.tab-content .container {
  padding: 0;
}

.bikeinfo-bikenum {
  width: 288px;
  display: flex;
  margin: 8px 0 30px 0px;
  justify-content: space-between;
}
.bikeinfo-bikenum dl {
  width: 70px;
  text-align: center;
}
.bikeinfo-bikenum dt {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
}
.bikeinfo-bikenum .bikenum_b {
  color: #3D5567;
  font-size: 40px;
  font-weight: 600;
}
.bikeinfo-bikenum .active {
  color: #30E291;
}

.bikeinfo-btn {
  height: 80px;
  background-color: #3D5567;
  border-radius: 50px;
  padding: 7px 20px 7px 24px;
  margin-bottom: 16px;
}
.bikeinfo-btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bikeinfo-btn a p {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.bikeinfo-btn a p:hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: #30E291;
}
.bikeinfo-btn a p:hover::after {
  content: "";
  position: absolute;
  left: 31px;
  bottom: -3px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #30E291;
}

.chatbot {
  position: absolute;
  bottom: 88px;
  left: 48px;
}

.chatbotbox {
  display: none;
}

.chatbot-buttonimg {
  width: 52px;
  height: 52px;
  background: url(../../images/main/chatbot_button_icon.png) no-repeat 0 0;
}
.chatbot-buttonimg.remove {
  background: url(../../images/main/chatbot_clise_icon.png) no-repeat 0 0;
}

.chatbot-messenger {
  position: relative;
  width: 340px;
  height: 590px;
  margin-bottom: 12px;
  border-radius: 15px;
  background-color: #fafafa;
  filter: drop-shadow(4px 4px 8px #c9c9c9);
}
.chatbot-messenger .top {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #e8e8e8;
  padding: 14px 20px;
}
.chatbot-messenger .top span {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}
.chatbot-messenger .top .img1 {
  margin-right: 8px;
}
.chatbot-messenger .top .img2 {
  margin-left: 85px;
}
.chatbot-messenger .mid .chatroom {
  display: flex;
  flex-direction: column;
}
.chatbot-messenger .mid .timestamp {
  margin: 0 auto;
  padding: 12px 0 16px 0;
}
.chatbot-messenger .mid .chatdate {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  padding: 3px 16px;
  border-radius: 15px;
  background-color: #e8e8e8;
}
.chatbot-messenger .mid .chatmain {
  margin: 0 20px;
}
.chatbot-messenger .mid .msg-box {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
}
.chatbot-messenger .mid .msg-text {
  background-color: #fff;
  border-radius: 0 15px 15px 15px;
  padding: 14px 20px;
}
.chatbot-messenger .mid .msg-text span {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}
.chatbot-messenger .mid .msg-text .primary {
  color: #30E291;
  font-weight: 500;
}
.chatbot-messenger .mid .msg-time {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  padding-left: 8px;
}
.chatbot-messenger .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 20px;
}
.chatbot-messenger .bottom .type-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e8e8;
  border-radius: 15px;
  padding: 0 16px;
}
.chatbot-messenger .bottom .type-area .typing {
  width: 100%;
  height: 50px;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  background-color: #e8e8e8;
}

.in-insurance {
  padding: 56px 48px;
}
.in-insurance h3 {
  padding: 0 0 18px 0;
  color: #333333;
}

@media screen and (max-width: 375px) {
  .hd-n {
    display: none;
  }
  .insurance-wrap {
    padding: 0;
    margin: 0;
  }
  .in-insurance {
    padding: 56px 24px;
  }
  .in-insurance h3 {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
  p {
    font-size: 14px;
  }
}
.insurance_Comprehensive1 .insurance-cc_txt_1 {
  padding: 38px 0 80px 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.insurance_Comprehensive1 .insurance-cc_txt1 {
  display: flex;
  align-items: center;
  gap: 8.5px;
  font-weight: 400;
}
.insurance_Comprehensive1 .insurance-mt {
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 375px) {
  .insurance_Comprehensive1 .insurance-mt {
    font-weight: 500;
    line-height: 21px;
  }
  .insurance_Comprehensive1 .insurance-cc_txt_1 {
    padding: 18px 0 33px 0;
    gap: 10px;
  }
  .insurance_Comprehensive1 .insurance-cc_txt1 {
    gap: 5px;
  }
}
.insurance_Comprehensive2 .table_tr .table_th1 {
  width: 239px;
}
.insurance_Comprehensive2 .table_tr .table_th2 {
  width: 721px;
}
.insurance_Comprehensive2 .table_tr .table_th3 {
  width: 239px;
}
.insurance_Comprehensive2 th {
  font-size: 20px;
  padding: 35px;
  vertical-align: middle;
}
.insurance_Comprehensive2 td {
  vertical-align: middle;
  padding: 35px;
}
.insurance_Comprehensive2 .table-p1 {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.insurance_Comprehensive2 .table-p2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
.insurance_Comprehensive2 .table-p3 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
}
.insurance_Comprehensive2 .table-p3-c {
  padding: 10px 0 0 0;
}
.insurance_Comprehensive2 strong {
  color: #333333;
  font-weight: 500;
  line-height: 26px;
  padding: 0;
}
.insurance_Comprehensive2 .table_em {
  color: blue;
}
.insurance_Comprehensive2 p,
.insurance_Comprehensive2 .table-p,
.insurance_Comprehensive2 .table-p2,
.insurance_Comprehensive2 .table-p3 {
  padding: 0;
}
.insurance_Comprehensive2 .table-p3-c {
  padding: 10px 0 0 0;
}
.insurance_Comprehensive2 .table-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 573px;
}
.insurance_Comprehensive2 br {
  display: none;
}

@media screen and (max-width: 375px) {
  .insurance_Comprehensive2 th {
    font-size: 16px;
    padding: 10px;
    vertical-align: middle;
  }
  .insurance_Comprehensive2 td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
  }
  .insurance_Comprehensive2 .table_em {
    line-height: normal;
  }
  .insurance_Comprehensive2 br {
    display: block;
  }
  .insurance_Comprehensive2 .table_tr {
    height: 78px;
  }
  .insurance_Comprehensive2 .table_tr .table_th1 {
    width: 412px;
  }
  .insurance_Comprehensive2 .table_tr .table_th3 {
    width: 412px;
  }
}
.insurance_Comprehensive3 {
  padding: 80px 0 0 0;
}
.insurance_Comprehensive3 p {
  color: #555;
  font-weight: 400;
}
.insurance_Comprehensive3 .comprehensive3_txt_2 {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-1 {
  font-weight: 500;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-1::before {
  content: "1.";
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-2 {
  font-weight: 500;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-2::before {
  content: "2.";
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-3 {
  font-weight: 500;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-3::before {
  content: "3.";
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-4 {
  font-weight: 500;
}
.insurance_Comprehensive3 .comprehensive3_txt_c-p .c3_c-p-4::before {
  content: "4.";
}
.insurance_Comprehensive3 .c3_c-p-5 {
  padding: 0 0 0 16px;
}
.insurance_Comprehensive3 .comprehensive3_txt_1 {
  display: flex;
  flex-direction: column;
}
.insurance_Comprehensive3 .comprehensive3_txt-p {
  padding: 0 0 22px 0;
}
.insurance_Comprehensive3 .Comprehensive3_t2 {
  padding: 0 0 0 18px;
}
.insurance_Comprehensive3 .insurance-cc_txt {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.insurance_Comprehensive3 .insurance-cc_txt2 {
  display: flex;
  align-items: center;
  gap: 8.5px;
  font-weight: 500;
  padding: 0 0 5px 0;
}
.insurance_Comprehensive3 .insurance-cc_txt3 {
  display: flex;
  gap: 5px;
  font-weight: 400;
}
.insurance_Comprehensive3 .insurance-cc_txt3::before {
  content: "※";
}
.insurance_Comprehensive3 .insurance-cc_t1 {
  padding: 0 0 0 18px;
}
.insurance_Comprehensive3 .c3_c-p-1-t {
  padding: 0 0 0 18px;
}

.insurance_Comprehensive1 .insurance-cc_txt-b::before,
.insurance_Comprehensive3 .insurance-cc_txt-b::before {
  content: "";
  display: block;
  background: url(/images/sub_insurance/square.svg) no-repeat 0 0;
  background-size: 10.5px 10.5px;
  width: 10.5px;
  height: 10.5px;
  color: #333333;
}

@media screen and (max-width: 375px) {
  .insurance_Comprehensive1 .insurance-cc_txt-b::before,
  .insurance_Comprehensive3 .insurance-cc_txt-b::before {
    background-size: 9.33px 9.33px;
    width: 9.33px;
    height: 9.33px;
  }
  .insurance_Comprehensive3 {
    padding: 33px 0 56px 0;
  }
  .insurance_Comprehensive3 .insurance-cc_txt {
    gap: 10px;
  }
  .insurance_Comprehensive3 .insurance-cc_txt3 {
    display: flex;
    padding: 0;
    gap: 5px;
    font-weight: 400;
  }
  .insurance_Comprehensive3 .insurance-cc_txt3::before {
    content: "※";
  }
  .insurance_Comprehensive3 .insurance-cc_t1 {
    padding: 0 0 0 18px;
  }
  .insurance_Comprehensive3 .comprehensive3_txt_2 {
    gap: 10px;
  }
  .insurance_Comprehensive3 .insurance-cc_txt2 {
    gap: 5px;
  }
}
.in-insurance {
  padding: 56px 48px;
}
.in-insurance h3 {
  padding: 0 0 18px 0;
  color: #333333;
}

@media screen and (max-width: 375px) {
  .hd-n {
    display: none;
  }
  .insurance-wrap {
    padding: 0;
    margin: 0;
  }
  .in-insurance {
    padding: 56px 24px;
  }
  .in-insurance h3 {
    font-size: 18px;
    padding: 0 0 5px 0;
  }
  p {
    font-size: 14px;
  }
}
.insurance_creation1 {
  color: #333333;
  padding: 0 0 80px 0;
}
.insurance_creation1 p {
  font-weight: 500;
  line-height: 28px;
  margin: 0 0 0 0;
}
.insurance_creation1 .insurance-mt {
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 375px) {
  .insurance_creation1 {
    padding: 0 0 33px 0;
  }
  .insurance_creation1 .insurance-mt {
    font-weight: 500;
    line-height: 21px;
  }
}
.insurance_creation2 {
  padding: 0 0 80px 0;
}
.insurance_creation2 .table_tr .table_th1 {
  width: 239px;
}
.insurance_creation2 .table_tr .table_th2 {
  width: 721px;
}
.insurance_creation2 .table_tr .table_th3 {
  width: 239px;
}
.insurance_creation2 th {
  font-size: 20px;
  padding: 35px;
  vertical-align: middle;
}
.insurance_creation2 td {
  vertical-align: middle;
  padding: 35px;
}
.insurance_creation2 .table-p1 {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.insurance_creation2 .table-p2 {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  max-width: 122px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.insurance_creation2 p,
.insurance_creation2 .table-p {
  padding: 0;
}
.insurance_creation2 .table-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 573px;
}

@media screen and (max-width: 375px) {
  .insurance_creation2 {
    padding: 0 0 33px 0;
  }
  .insurance_creation2 th {
    font-size: 16px;
    padding: 15px;
    vertical-align: middle;
  }
  .insurance_creation2 td {
    vertical-align: middle;
    padding: 15px;
    font-size: 14px;
  }
}
.insurance_creation3 {
  color: #555555;
  font-weight: 400;
}
.insurance_creation3 .creation3_txt2 {
  display: flex;
  gap: 5px;
  margin: 18px 0 0 0;
  font-weight: 600;
  color: #333333;
}
.insurance_creation3 .creation3_txt2::before {
  content: "※";
}
.insurance_creation3 .creation3_txt2-1 {
  margin: 5px 0 0 0;
}
.insurance_creation3 .insurance-cc_txt {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.insurance_creation3 .insurance-cc_txt2 {
  display: flex;
  align-items: center;
  gap: 8.5px;
  font-weight: 400;
}
.insurance_creation3 .insurance-cc_txt2::before {
  content: "";
  display: block;
  background: url(/images/sub_insurance/square.svg) no-repeat 0 0;
  background-size: 10.5px 10.5px;
  width: 10.5px;
  height: 10.5px;
  color: #333333;
}
.insurance_creation3 .insurance-cc_txt3 {
  display: flex;
  padding: 0 0 0 18px;
  gap: 5px;
  font-weight: 400;
}
.insurance_creation3 .insurance-cc_txt3::before {
  content: "※";
}
.insurance_creation3 .insurance-cc_t1 {
  font-weight: 500;
  padding: 0 0 5px 0;
}
.insurance_creation3 .c3_c-p-1-t {
  padding: 0 0 0 18px;
}

@media screen and (max-width: 375px) {
  .insurance_creation3 .insurance-cc_txt {
    gap: 10px;
  }
  .insurance_creation3 .insurance-cc_txt2 {
    gap: 5px;
  }
  .insurance_creation3 .insurance-cc_txt2::before {
    background-size: 9.33px 9.33px;
    width: 9.33px;
    height: 9.33px;
  }
}
@media screen and (max-width: 1024px) {
  .hidden {
    display: none;
  }
}
.ticket_summary {
  padding: 40px 80px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
}
.ticket_summary h3 {
  color: #3D5567;
}

.summary-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.summary-wrap .sum-gap-line {
  width: 1px;
  height: 180px;
  background-color: #e8e8e8;
}

.sum-item {
  position: relative;
  border-radius: 0;
}
.sum-item .sum-contents {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 16px;
  align-content: space-between;
  align-items: center;
}

.sum-txt {
  text-align: center;
  color: #3D5567;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .ticket_summary {
    padding: 24px;
    background: none;
  }
  .sum-gap-line {
    display: none;
  }
  .sum-item {
    width: 40%;
    padding: 18px;
    background-color: #fff;
    border-radius: 8px;
  }
  .sum-item .sum-contents {
    margin: 0 auto;
    width: calc(0.8 * (100% - 18px - 18px));
    position: absolute;
  }
  .sum-item img {
    display: block;
    width: 100%;
  }
  .sum-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  .summary-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}
.hidden {
  display: none !important;
}

.in-t-info {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.in-t-info h3 {
  margin-bottom: 18px;
}

.m-fee {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.m-fee-comm {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border-radius: 16px;
}

.fee-comm {
  display: flex;
  flex-direction: row;
  word-break: keep-all;
}
.fee-comm .m-tic-left {
  width: 25%;
  font-weight: 600;
}
.fee-comm .m-tic-right {
  width: 75%;
}

.warn-wrap {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  border-radius: 16px;
}
.warn-wrap span {
  width: 100%;
  height: 1px;
}
.warn-wrap .warn-num {
  margin-right: 44px;
  color: #30E291;
  font-size: 48px;
  font-weight: 600;
}
.warn-wrap .warn-tit {
  color: #333333;
  font-size: 24px;
  font-weight: 500;
}
.warn-wrap .warn-txt {
  margin-left: 100px;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
}
.warn-wrap .warn-tit-area {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.warn-wrap .warn-gap-line {
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  align-self: center;
}

table tbody tr .add-right-line {
  border-right: 2px solid #e8e8e8;
}

.tic-refund-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.inner .in-t-pay {
  max-width: 789px;
}

.in-safety {
  padding: 0 0 100px;
}
.in-safety h3 {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 56px 0 88px 0;
  margin: 0;
}

@media screen and (max-width: 375px) {
  .hd-n {
    display: none;
  }
  .safety-wrap {
    padding: 0;
    margin: 0;
  }
  .in-safety {
    padding: 33px 24px;
  }
  .in-safety h3 {
    font-size: 20px;
    padding: 0 0 55px 0;
    text-align: left;
  }
}
.safety-img {
  max-width: 30%;
}

@media screen and (max-width: 375px) {
  .safety-img {
    max-width: 40%;
  }
}
.safety-E {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

@media screen and (max-width: 375px) {
  .safety-E {
    gap: 32px;
    max-width: 375px;
  }
}
.safety1,
.safety2,
.safety3,
.safety4 {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 375px) {
  .safety1,
  .safety2,
  .safety3,
  .safety4 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.safety-empty {
  opacity: 0;
}

@media screen and (max-width: 375px) {
  .safety4 .safety-empty {
    display: none;
  }
}
.safety {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 30px;
  max-width: 706px;
  height: 329px;
  gap: 40px;
  background-color: #fff;
  width: 100%;
  padding: 75px 80px;
}

@media screen and (max-width: 375px) {
  .safety {
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 34px 0;
  }
}
.safety-b {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 57%;
  text-align: left;
}

@media screen and (max-width: 375px) {
  .safety-b {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 100%;
    text-align: center;
  }
}
.safety-tit {
  font-size: 28px;
  font-size: calc(71% + 1vw);
  font-weight: 600;
  max-width: 100%;
}

@media screen and (max-width: 375px) {
  .safety-tit {
    font-size: 20px;
    font-weight: 600;
    max-width: 100%;
  }
}
.safety-txt {
  color: #777777;
  font-size: 18px;
  font-size: calc(9% + 1vw);
  font-weight: 500;
  max-width: 100%;
}

@media screen and (max-width: 375px) {
  .safety-txt {
    font-size: 16px;
  }
}
.intro {
  padding: 56px 48px;
}

.intro-top .bg {
  text-align: center;
}

.text {
  padding-top: 32px;
  text-align: center;
}
.text .title {
  font-size: 28px;
  font-weight: 600;
}
.text .content {
  padding-top: 12px;
  color: #777777;
  font-size: 20px;
  font-weight: 400;
}
.text .primary {
  color: #30E291;
  font-weight: 600;
}

.intro-main {
  position: relative;
  padding-top: 140px;
}
.intro-main .intro-bg {
  text-align: center;
  width: 985px;
  height: 1668px;
}

.intro-content ul li {
  position: absolute;
}
.intro-content ul li:first-child {
  top: 80px;
  left: 0;
}
.intro-content ul li:first-child::after {
  content: "";
  position: absolute;
  top: 154px;
  right: -320px;
  width: 204px;
  height: 128px;
  background: url(../../images/sub_intro/bike_stone.png);
}
.intro-content ul li:nth-child(2) {
  top: 500px;
  right: 0;
}
.intro-content ul li:nth-child(3) {
  bottom: -30px;
  left: 70px;
}
.intro-content ul li:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -288px;
  right: -100px;
  width: 433px;
  height: 134px;
  background: url(../../images/sub_intro/bike.png);
}
.intro-content ul li:last-child {
  bottom: -360px;
  right: 0;
}
.intro-content ul li:last-child::after {
  content: "";
  position: absolute;
  bottom: 84px;
  left: -66px;
  width: 86px;
  height: 134px;
  background: url(../../images/sub_intro/stone_1.png);
}
.intro-content .content {
  width: 490px;
  padding-bottom: 56px;
}
.intro-content .intro-contentimg {
  border-radius: 15px;
  width: 100%;
}
.intro-content .intro-contentimg::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.intro-content .txt {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.intro-content .txt .title {
  color: #3D5567;
  font-size: 24px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #fafafa 75%, #ACF3D3 10%);
}
.intro-content .txt .sub {
  margin-top: 12px;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
}

.inner-notice {
  text-align: center;
}
.inner-notice h3 {
  padding: 56px 0 33px 0;
}
.inner-notice .notice,
.inner-notice .notice1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #777777;
}
.inner-notice .notice-txt1 {
  border: none;
  background-color: #fff;
  border-radius: 29px;
  padding: 14px 20px 14px 20px;
  margin: 0 54px 0 0;
  width: 340px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.inner-notice .notice-txt1 p {
  width: 340px;
}
.inner-notice .notice-txt1::after {
  content: "";
  display: block;
  background: url(../../images/sub_notice/arrow_down.svg) no-repeat 0px 0px;
  background-size: 37px 27px;
  width: 37px;
  height: 27px;
  color: #777777;
}
.inner-notice input {
  border: none;
  background-color: #fff;
  border-radius: 29px;
  padding: 0 180px 0 20px;
}/*# sourceMappingURL=comm.css.map */